:root {
	--main-color       : #52A5E0;

	--title-color      : #EFF3F5;

	--text-color       : #C8CDD0;

	--light-text-color : #A0A7AC;

	--border-color     : #2A3B47;

	--container-color  : #212E36;

	--body-color       : #192229;
} 

body {
	margin: 0px;
	font-family: sans-serif;
	text-align: center;
}

.header {
	background-color: #121212;
	color: #FFFFFF;
	padding: 10px;
}

.header ul {
	margin: 0px;
	list-style: none;
	padding: 0px;
	overflow: hidden;
}

.header li {
	float: left;
	margin: 0 15px 0 0;

}

.header ul a {
	color: var(--title-color);
	text-decoration: none;
}

.header ul a:hover {
	color: var(--light-text-color);
	background-color: white;
}

.content {
	background-color: var(--body-color);
	color: var(--text-color);
	padding: 10px 20px;
}

.content h1 {
	color: var(--title-color);
	margin: 0px;
}

.footer {
	background-color: var(--container-color);
}

.footer h4 {
	margin: 0;
	color: var(--title-color);
}